*{
    margin: 0px;
    padding: 0px;
}
.open-sans {
 
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

.headercolor {
  background-color:#FFF8F3;
}
nav{
    width: 95%;
   
   margin: 0px auto;
   /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
    
}
nav .menu a{
   font-size: 20px;
   color: #474747;
   text-decoration: none;
  
} 
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius:5px ;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;

