*{
    margin: 0px;
    padding: 0px;
}
.open-sans {
 
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

.headercolor {
  background-color:#FFF8F3;
    background: url(images/developer.png),url(images/header_bg.png),#FFF8F3;
  
  background-position:top left,bottom right;
  background-repeat: no-repeat;
  
}
nav{
    width: 95%;
   
   margin: 30px px;
   /* border: 1px solid red; */
    display: flex;
     justify-content: space-around;
    align-items: center;
}
nav .logo{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
    
}
nav .menu a{
   font-size: 20px;
   color: #474747;
   text-decoration: none;
  
} 
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius:5px ;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
}
#banner{
    display: flex;
   margin:47px 38px 0px 230px ;
   justify-content: space-between;
   align-items: center;
  
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 25px;
}
#banner .banner-content p{
    font-size: 18px;
     color: #757575;
     line-height: 30px;
   margin-bottom: 30px;
}
#banner .banner-img{
    max-width: 584px;
    vertical-align: middle;
}
.about{
    padding-top: 130px;
}
.about-content{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
    text-align: center;
    background-color: #fbf3ed;
    padding: 131px 156px;
  
}
.section-heading p{
    margin-top: 30px;
}
.info-container{
    margin-top: 50px;
    display: flex;
     justify-content: space-around;
}
.info-card p{
    font-size: 20px;
   color: #474747;
  
}
.info-card h3{
    font-size: 20px;
   
}
.extra-info{
     width: 71%;
  max-width: 1140px;
  margin:100px auto;
   
    
}
.heading{
    text-align: center;
}
.explanation{
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;

}
.skills-box{
    display: flex;
     gap: 24px;
}
.skill-card{
  
  padding: 30px;
   box-shadow: 0 6px 50px 0 #f0c9c9;
   max-width: 261px;
 
}
.skill-card img{
    max-width: 44px;
   
}
.skill-card h3{
   font-size: 20px;
   color: black;
  
}
.skill-card p{
    margin-top: 20px;
   font-size: 16px;
   line-height: 20px;
   color: #757575;


}
.resume-heading{
    text-align: center;
   margin-bottom: 70px;
    margin-top: 113px;
}
.resume-box{
    display: flex;
    margin: 0 auto;
}
.education-heading{
    margin-bottom: 30px;
}
.education-card{
    margin-top: 30px;
    max-width: 700px;
    margin-bottom: 30px;
}
.education-card h4{
    margin-bottom: 10px;
   
}
.education-card h5{
    margin-bottom: 20px;
   
}
.experience-heading{
    margin-bottom: 30px;
    margin-left: 70px;
}
.experience-card{
    margin-top: 30px;
    max-width: 700px;
    margin-bottom: 30px;
    margin-left:71px ;
}
.experience-card h4{
    margin-bottom: 10px;
   
}
.experience-card h5{
    margin-bottom: 20px;
   
}
.education-content{
    margin-right: 71px;
}
.experience-content{
    margin-left: 71px;
}
.resume{
      width: 71%;
  max-width: 1140px;
  margin:100px auto;
   
}